body{
    background-color: #f8f8f8;
}

.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 16px;
    padding: 3rem 3rem;
}

.container .title{
    margin: 0;
    margin-bottom: 2rem;
    text-align: center;
    color: #334664;
}

.container input{
    padding: 1rem 0.5rem;
    border: 1px solid grey;
    border-radius: 4px;
    width: 90%;
}

.container .btn-submit{
    background-color: #334664;
    color: white;
    width: 90%;
    padding: 0.5rem;
    border-radius: 4px;
}