body{
    font-family: "Cabin", sans-serif;
    margin: 0;
    background-color: black;
}
p,h1,h2,h3{
    font-family: "Cabin", sans-serif;
}

/* Navigation Bar */
.navigation{
    z-index: 1000;
    top: 0;
    position: sticky;
    background-color:  black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
}
.navigation ul{
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
}

.navigation ul li a{
    text-decoration: none;
    color: white;
}

.navigation ul li{
    font-size: 20px;
}


.navigation img{
    transform: scale(0.5);
    max-width: 200px;
    height: auto;
}

.navigation button{
    font-size: 18px;
    border: none;
    background-color: transparent;
    font-weight: normal;
    color: white;
}

.user{
    display: flex;
    padding: 0;
    padding-right: 36px;
}

.navigation .search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 28px;
    background-color: #f6f6f6;
    transition: box-shadow 0.25s;
    box-sizing: border-box; 
    padding: 0 6px;
}
.navigation .search-bar:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-bar input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
    color: #333333;
}

.user .nav-divider{
    width: 2px;
    background-color: white;
}
/* Main Page */
.main-page{
    position: relative;
}
.main-page img{
    width: 100%;
}
.main-page .main-desc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 80%;
    box-sizing: border-box;
    padding: 0 16px;
}

.main-desc h1{
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 16px;
    margin: 0;
    font-size: 42px;
}

.main-desc input{
    box-sizing: border-box;
    text-align: left;
}

.search {
    --padding: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background-color: #f6f6f6;
    transition: box-shadow 0.25s;
    margin-bottom: 32px;
    box-sizing: border-box;
}

.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
    color: #333333;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

.main-page .buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 12xpx;
}


.main-page .buttons button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
    background: transparent;
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    border: 1px solid #f8f8f8;
    width: 150px;
    height: 125px;
}

.main-page .buttons button:hover{
    cursor: pointer;
}

.main-page .buttons a{
    text-decoration: none;
}

.main-page .buttons i{
    font-size: 40px;
}

.fa-solid.fa-car {
    color: #ff6400;
}
.fa-solid.fa-tag{
    color: #ec008b;
}
.fa-solid.fa-car-battery{
    color: #06aeaa;
}


/* Description */
.description{
    background-color: black;
    padding:32px 3rem;
    padding-bottom: 64px;
}

.description h2, .description p, .description h3{ 
    color: white;
}

.description h2{
    text-align: center;
    margin: 0;
    font-size: 36px;
}

.description .cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.desc-container{
    background-color: #0f0f0f;
    border-radius: 8px;
    margin-top: 1rem;
    padding: 1rem 2rem;
}

.desc-container .btn-buy{
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 16px 48px;
    border-radius: 28px;

}

.btn-buy a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.btn-buy:hover{
    cursor: pointer;
}

.cards-container .card{
    display: flex;
    gap: 16px;
}

/* Finance Calculator */
.finance-calc{
    background-color: #f8f8f8;
    padding: 3rem 10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.finance-calc .car-type{
    background-color: #95d3f3;
    width: fit-content;
    padding: 8px 12px;
    border-radius: 4px;
    color: black;
}

.car p, .car h3{
    margin: 0;
    margin-bottom: 16px;
}


.finance-calc .finance{
    background-color: white;
    padding: 3rem;
}


.finance-calc .finance .inputs-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 64px;
}

.inputs-container input{
    height: 50px;
    border: 2px solid black;
    border-radius: 6px;
    padding-left: 12px;
}

/* Check Box */
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 48px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.container input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

.checkmark {
position: absolute;
top: 0;
left: 0;
height: 20px;
width: 20px;
background-color: #eee;
}

.container:hover input ~ .checkmark {
background-color: #ccc;
}

.container input:checked ~ .checkmark {
background-color: #2196F3;
}

.checkmark:after {
content: "";
position: absolute;
display: none;
}

.container input:checked ~ .checkmark:after {
display: block;
}

.container .checkmark:after {
left: 6px;
top: 3px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}


.finance-calc .finance button{
    width: 100%;
    background-color: #0f0f0f;
    color: white;
    font-size: 18px;
    padding: 12px 0;
    border-radius: 28px;
}

.finance-calc .finance button:hover{
    cursor: pointer;
}



/* Signing Up */
.signing-up{
    padding: 1rem 12rem;
}
.signing-up h3{
    color: white;
    font-size: 36px;
    text-align: center;
}


.signing-up .signing-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 16px;
}

.signing-cards-container p{
    color: white;
    font-size: 24px;
}
.signing-cards-container .signing-card{
    text-align: center;
}

.signing-card img{
    width: 200px;
    height: auto;
}

.signing-up button{
    display: flex;
    align-self: center;
    justify-self: center;
    padding: 16px 48px;
    border-radius: 28px;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.signing-up button a{
    font-size: 18px;
    text-decoration: none;
    color: black;
}

.signing-up button:hover{
    cursor: pointer;
}
