body{
    font-family: "Roboto", sans-serif;
    margin: 0;
    background-color: black;
}

/* Navigation Bar */
.navigation{
    z-index: 1000;
    top: 0;
    position: sticky;
    background-color:  black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem 0;
}
.navigation ul{
    display: flex;
    gap: 24px;
    list-style: none;
    margin: 0;
}

.navigation ul li a{
    text-decoration: none;
    color: white;
}

.navigation ul li{
    font-size: 20px;
}


.navigation img{
    transform: scale(0.5);
    max-width: 200px;
    height: auto;
}

.navigation button{
    font-size: 18px;
    border: none;
    background-color: transparent;
    font-weight: normal;
    color: white;
}

.user{
    display: flex;
    padding: 0;
    padding-right: 36px;
}

.navigation .search-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 28px;
    background-color: #f6f6f6;
    transition: box-shadow 0.25s;
    box-sizing: border-box; 
    padding: 0 6px;
}
.navigation .search-bar:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-bar input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
    color: #333333;
}

.user .nav-divider{
    width: 2px;
    background-color: white;
}
/* Main Page */
.main-page{
    position: relative;
}
.main-page img{
    width: 100%;
}
.main-page .main-desc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    width: 80%;
    box-sizing: border-box;
    padding: 0 16px;
}

.main-desc h1{
    width: 100%;
    text-align: center;
    color: white;
    padding-bottom: 16px;
    margin: 0;
    font-size: 42px;
}

.main-desc input{
    box-sizing: border-box;
    text-align: left;
}

.search {
    --padding: 14px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background-color: #f6f6f6;
    transition: box-shadow 0.25s;
    margin-bottom: 32px;
    box-sizing: border-box;
}

.search:focus-within{
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input{
    font-size: 16px;
    font-family: 'Lexend', sans-serif;
    margin-left: var(--padding);
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
    color: #333333;
}

.search-input::placeholder,
.search-icon {
    color: rgba(0, 0, 0, 0.5);
}

.main-page .buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-page .buttons button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 16px;
    background: transparent;
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
}

.main-page .buttons button:hover{
    cursor: pointer;
}

.main-page .buttons a{
    text-decoration: none;
}

.main-page .buttons i{
    font-size: 48px;
}

.fa-solid.fa-car {
    color: #ff6400;
}
.fa-solid.fa-tag{
    color: #ec008b;
}
.fa-solid.fa-car-battery{
    color: #06aeaa;
}



/* Description */
.description{
    background-color: black;
    padding-top: 32px;
}

.description h2, .description p, .description h3{ 
    color: white;
}

.description h2{
    text-align: center;
    margin: 0;
    font-size: 36px;
}

.description .cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
